<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Table</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="hover-overlay shadow-1-strong rounded mt-5 d-inline-flex alert alert-dark"
             onclick="clearCookieAndRedirect('{{ username }}')">
            {{ username }}
        </div>
        {% block book_table %}
        {% endblock %}
    </div>
</body>
<script>
    async function clearCookieAndRedirect() {
        try {
            const response = await fetch('/clear-cookie', { method: 'GET' });
            if (response.ok) {
                window.location.href = '/login'; // Redirect to login on success
            } else {
                console.error('Failed to clear cookie');
            }
        } catch (error) {
            console.error('An error occurred:', error);
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>
